<section class="footer-section">
    <div class="container">
        <div class="footer-container">
            <div class="footer-1" style="margin-top: -30px;">
                <div class="footer-logo text-center">
                    <img src="/images/logo-footer.png" width="250px" height="100px" alt="">
                </div>
                <p class="text-center">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                </p>
                <div class="text-center">
                    <i class="fa-brands fa-facebook fa-2xl" style="color: #3b5999; margin-right: 10px;"></i>
                    <!-- <i class="fa-brands fa-twitter fa-2xl" style="color: #1da1f4; margin-right: 10px;"></i> -->
                    <i class="fa-brands fa-linkedin fa-2xl" style="color: #0077b4; margin-right: 10px;"></i>
                    <!-- <i class="fa-brands fa-pinterest fa-2xl" style="color: #f00000; margin-right: 10px;"></i> -->
                </div>
            </div>
            <div class="footer-2">
                <p class="footer-headings">Quick Links</p>
                <div class="footer-nav d-flex flex-column">
                    <a>Home</a>
                    <a>About Us</a>
                    <a>Services</a>
                    <a>Contact Us</a>
                </div>
            </div>
            <div class="footer-3 d-flex flex-column">
                <p class="footer-headings">Contact Us</p>
                <div class="footer-contact">
                    <p class="footer-address">
                        121 King St, Melbourne VIC 3000, Australia
                    </p>
                    <p class="footer-mail">
                        Info@example.com
                    </p>
                    <p class="footer-contactno">
                        +1 (888) 123-5678
                    </p>
                </div>
            </div>
            <div class="footer-4">
                <p class="footer-headings">External Links</p>
                <div class="footer-links d-flex flex-column">
                    <a href="">Google</a>
                    <a href="">Facebook</a>
                    <a href="">LinkedIn</a>
                    <a href="">Twitter</a>
                </div>
                <!-- <p>Follow our newsletter to stay updated about us.</p>
                <div class="email-address">
                    <input type="text" placeholder="Enter Address">
                    <img src="/images/sub-button.png" alt="">
                </div> -->
            </div>
        </div>
        <div class="sec-footer">
            <div class="footer-line">
                <hr>
            </div>
            <div class="sub-footer-content">Copyright &copy; 2023 {{ .Site.Title }}</div>
        </div>
    </div>
</section>