{{ define "main" }}
<section class="home-container">
    <div class="home-heading">
        <p class="text-center font-weight-bold">IT & Software Business</p>
        <div>
            <h2 class="text-center">Everything You Need For</h2>
        </div>
        <div>
            <h2 class="text-center">The Business Success</h2>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary home-btn">Contact Today</button>
            <button type="button" class="btn btn-light home-btn">Learn More</button>
        </div>
        <!-- <div class="row">
            <div class="col-sm-3 mb-3 mb-sm-0">
                <div class="card home-card">
                    <div class="img">
                        <img src="/images/icon-1.png" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Highly Customizable</h5>
                        <p class="card-text">Morbi sagittis hendrerit nulla insp ultriciesras ipsdem</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card home-card">
                    <div class="img">
                        <img src="/images/home-icon-2.png" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Technology</h5>
                        <p class="card-text">Proin scelerisque portt itor ipsdem feugiat maurise arius</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card home-card">
                    <div class="img">
                        <img src="/images/home-icon-3.png" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Project Management</h5>
                        <p class="card-text">Scelerisque porttitor ipsdem feus emn varius tellus elus
                        </p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>

<div class="cards-section">
    <div class="row">
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card home-card">
                <div class="img">
                    <img src="/images/icon-1.png" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Highly Customizable</h5>
                    <p class="card-text">Morbi sagittis hendrerit nulla insp ultriciesras ipsdem</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card home-card">
                <div class="img">
                    <img src="/images/home-icon-2.png" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Technology</h5>
                    <p class="card-text">Proin scelerisque portt itor ipsdem feugiat maurise arius</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card home-card">
                <div class="img">
                    <img src="/images/home-icon-3.png" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Project Management</h5>
                    <p class="card-text">Scelerisque porttitor ipsdem feus emn varius tellus elus
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="hero-section">
    <div class="hero-div">
        <div class="hero-div-left">
            <div class="hero-content">
                <div class="hero-content-1">
                    <p class="hero-para">Discover Our Company</p>
                    <h2>Bringing New IT Business <br> Solutions And Ideas</h2>
                    <p class="hero-text">Lorem Ipsum is simply dummy text of the printing and typesetting has <br> been
                        the industry’s standard dummy text.</p>
                </div>
                <div class="product-list hero-list">
                    <ul>
                        <li>Product Engineering - Sorem ipsum dolor sit amets</li>
                        <li>Big Data & Analytics - Morem ipsum dolor sit amet</li>
                        <li>Real Time and Data - Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
                <div class="btn">
                    <button type="button" class="btn btn-primary px-4 py-2 my-3">Discover More</button>
                </div>
            </div>
        </div>
        <div class="hero-div-right">
            <div class="hero-img">
                <img src="/images/hero.webp" alt="">
            </div>
        </div>
    </div>
</section>

<section class="featured-services">
    <div class="featured-content">
        <p class="featured-services-para">Featured Services</p>
        <h2>Engaging Creative Minds Via Technology</h2>
        <p class="featured-text mt-3">Vivamus ullam corper text of the printing and typesetting</p>
    </div>
    <div class="feature-cards">
        <div class="card feature-card p-2" style="width: 20rem;">
            <img src="/images/feature-card-1.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Creative Idea</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
        <div class="card feature-card p-2" style="width: 20rem;">
            <img src="/images/feature-card-2.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Successful Project</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
        <div class="card feature-card p-2" style="width: 20rem;">
            <img src="/images/feature-card-3.webp" class="card-img-top" alt="...">
            <div class="card-body mt-4">
                <h5 class="card-title">Time Management</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
</section>

<section class="services-section mt-5">
    <div class="services d-flex">
        <div class="services-left">
            <img src="/images/services-1.webp" width="759.6px" height="536.4px" alt="">
            <div class="services-left-div">
                <p class="services-heading-left">Advance Digital Metrics</p>
                <h2>Bringing IT Business Solutions <br> & Ideas</h2>
                <div class="services-btn">
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
        <div class="services-right">
            <img src="/images/services-2.webp" width="759.6px" height="536.4px" alt="">
            <div class="services-right-div">
                <h2>We Provide Additional Service <br> For You</h2>
                <div class="services-btn">
                    <a href="#">Start a Project</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="experience-section">
    <div class="container experience-div">
        <div class="experience-left-div">
            <div class="exp">
                <img src="/images/expcount.png" alt="">
                <p>Year of <br> Experience</p>
            </div>
            <h3>We Are Creative In Design <br> And Development</h3>
        </div>
        <div class="experience-right-div">
            <h5>Creating Ideas That Matters To People.</h5>
            <div class="progress-div">
                <div class="progress mt-5" role="progressbar" aria-label="Info example" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-info" style="width: 25%"></div>
                </div>
                <br>
                <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100">
                    <div class="progress-bar bg-info" style="width: 50%"></div>
                </div>
                <br>
                <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100">
                    <div class="progress-bar bg-info" style="width: 75%"></div>
                </div>
                <br>
                <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100">
                    <div class="progress-bar bg-info" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<hr>

<section class="offer-section">
    <div class="offer-div">
        <div class="offer-left">
            <h6 class="h6">What We Offer</h6>
            <h3>We Deliver Dreams That <br> Matches Aspiration</h3>
            <div class="offer-heading">
                <div class="offer-head">
                    <div class="offer-image-div">
                        <img src="/images/offer-1.png" alt="">
                    </div>
                    <div class="offer-heading-1">
                        <h6>Cloud Compatibility</h6>
                        <p>Donec fringilla lacus faucibus posuere raesent ut lacus</p>
                    </div>
                </div>
                <div class="offer-head">
                    <div class="offer-image-div">
                        <img src="/images/offer-2.png" alt="">
                    </div>
                    <div class="offer-heading-1">
                        <h6>Security Certified</h6>
                        <p>Lacus ac sem com faucibus posuere raesent ac fringilla</p>
                    </div>
                </div>
            </div>
            <div class="offer-heading">
                <div class="offer-head">
                    <div class="offer-image-div">
                        <img src="/images/offer-3.png" alt="">
                    </div>
                    <div class="offer-heading-1">
                        <h6>On-Time Delivery</h6>
                        <p>Raesent ut lacus ac sem com faucibus posuere raes</p>
                    </div>
                </div>
                <div class="offer-head">
                    <div class="offer-image-div">
                        <img src="/images/offer-4.png" alt="">
                    </div>
                    <div class="offer-heading-1">
                        <h6>Fast Downloading</h6>
                        <p>Posuere ringilla lacus faucibus posuere raeut lacus</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="offer-right">
            <img class="image-1" src="/images/offer-section.webp" alt="">
            <img class="image-2" src="/images/offer-section-2.png" alt="">
        </div>
    </div>
</section>

<section class="case-studies">
    <div class="container">
        <div class="case-content">
            <h6>Case studies</h6>
            <h3>Our Latest Case Studies</h3>
        </div>
        <div class="case-images d-flex justify-content-evenly">
            <div class="case-img">
                <img src="/images/case-1.webp" style="border-radius: 5px;" width="359px" height="371px" alt="...">
            </div>
            <div class="case-img">
                <img src="/images/case-2.webp" style="border-radius: 5px;" width="359px" height="371px" alt="...">
            </div>
            <div class="case-img">
                <img src="/images/case-3.webp" style="border-radius: 5px;" width="359px" height="371px" alt="...">
            </div>
        </div>
    </div>
</section>

<section class="companies" style="margin-bottom: 120px;">
    <div class="container">
        <div class="companies-logos d-flex justify-content-around">
            <div class="company-logo">
                <img src="/images/logo-1.png" width="148px" alt="...">
            </div>
            <div class="company-logo">
                <img src="/images/logo-2.png" width="148px" alt="...">
            </div>
            <div class="company-logo">
                <img src="/images/logo-3.png" width="148px" alt="...">
            </div>
            <div class="company-logo">
                <img src="/images/logo-4.png" width="148px" alt="...">
            </div>
            <div class="company-logo">
                <img src="/images/logo-5.png" width="148px" alt="...">
            </div>
        </div>
    </div>
</section>

<!-- <section class="footer-section">
    <div class="container">
        <div class="footer-container">
            <div class="footer-1">
                <div class="footer-logo">
                    <img src="/images/site-logo.png" alt="">
                </div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                </p>
                <div>
                    <img src="/images/social-icons.png" width="240px" height="42px" alt="">
                </div>
            </div>
            <div class="footer-2">
                <p class="footer-headings">Quick Links</p>
                <div class="footer-nav d-flex flex-column">
                    <a>Home</a>
                    <a>About Us</a>
                    <a>Services</a>
                    <a>Contact Us</a>
                </div>
            </div>
            <div class="footer-3">
                <p class="footer-headings">Contact Us</p>
                <div class="footer-contact">
                    <p class="footer-address">
                        121 King St, Melbourne VIC 3000, Australia
                    </p>
                    <p class="footer-mail">
                        Info@example.com
                    </p>
                    <p class="footer-contactno">
                        +1 (888) 123-5678
                    </p>
                </div>
            </div>
            <div class="footer-4">
                <p class="footer-headings">
                    Subscribe
                </p>
                <p>
                    Follow our newsletter to stay updated about us.
                </p>
                <div class="email-address">
                    <input type="text" placeholder="Enter Address">
                    <img src="/images/sub-button.png" alt="">
                </div>
            </div>
        </div>
        <div class="sec-footer">
            <div class="footer-line">
                <img src="/images/footer-line.webp" alt="">
            </div>
            <div class="sub-footer-content">Copyright © 2023 Cerise Tech Solutions</div>
        </div>
    </div>
</section> -->

<!-- <div class="spacer"></div> -->
{{ end }}